*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: inline-block;
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    background-color: #1F2937;
    height: 70vh;

    display: flex;

    flex-direction: column;
    gap: 10vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.right-links ul{
    display: flex;
    gap: 1.5vw;
    
    align-items: center;
}

.hero{
    display: flex;
    justify-content: space-around;
}

.hero-text{
    font-size: 44px;
    color: #F9FAF8;
}
.hero-desc{
    color: #E5E7EB;
    font-size: 18px;
}

.hero-left{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
.sign-up{
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 0;
    border: 0;
    border-radius: 5px;
}

.coding-img{
    height: auto;
    width: 25vw;
}

/* BODY-PART */

.body-head{
    text-align: center;
    margin: 5vh 0;
    font-size: 36px;
}

.testimonies{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: small;
}

.card{
    flex: 0 1 170px;
    text-align: center;
}

.quote{
    margin-top: 100px;
    height: 50vh;
    background-color: #E5E7EB;
    position: relative;
}

.quote-text{
    width: 50vw;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.quote-author{
    position: absolute;
    bottom: 65px;
    right: 300px;
}